.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;

  padding: 1rem;

  .nav{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem,1fr));
    grid-gap: 1rem;
    
    align-items: center;

    &__link:link,
    &__link:visited{
      font-size: .8rem;
      color: whitesmoke;
      text-decoration: none;
      font-family: $font-display;
      text-transform: uppercase;
      text-align: center;
      display: block;
      padding: .8rem;
      transition: all .2s;

      
    }
    &__link:hover,
    &__link:active{
      background-color: rgba(white, .05);
      transform: translateY(4%);
    }

  }
  .copyright{
    font-size: 1rem;
    color: $color-grey-light-2;
    margin-top: 2rem;
    text-align: center;
  }
}